/*.App {*/
/*  text-align: center;*/
/*}*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}
.form {
  max-width: 550px;
  width: 80%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.location {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
